.favorites-page {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.favorites-page img {
    cursor: default;
}
  
.favorites-page header {
    width: 100%;
    display: flex;
    align-items: center;
    color: #316edb;
}
  
.favorites-page .home-page-link {
    flex: 0.1;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}
  
.favorites-page .home-page-link:hover {
    color: #316edb;
    transition: 0.3s;
}
  
.favorites-page h1 {
    flex: 1;
}